@font-face {
    font-family: "Pirata";
    src: url("../fonts/PirataOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bitcount Grid Single", system-ui;
    src: url("../fonts/bitcount.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

$font-pirate: "Pirata", sans-serif;
$font-bit: "Bitcount Grid Single";
$font-Roboto: "Roboto";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(178, 218, 245);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;

    .flex {
        display: flex;
    }

    .hidden {
        display: none;
    }

    h3 {
        font-family: $font-pirate;
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
        max-width: 100%;
        margin-bottom: 50px;
    }

    h3 {
        font-family: $font-pirate;
        font-size: 30px;
        text-align: left;
        margin-top: 20px;
        max-width: 100%;
        margin-bottom: 50px;

        &:nth-child(2) {
            text-align: center;
        }
    }

    .container {
        width: 90%;
        height: auto;
        aspect-ratio: 16/8;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .titulo-jogo {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 40px;
                font-family: $font-pirate;
                font-weight: bold;
            }

            img {
                max-width: 100px;
                animation: rotateNavio 1s ease-in-out infinite;

                @keyframes rotateNavio {
                    50% {
                        transform: rotate(5deg);
                    }

                    75% {
                        transform: rotate(-5deg);
                    }

                    100% {
                        transform: rotate(-0deg);
                    }
                }
            }
        }

        .modal {
            max-width: 50%;
            height: auto;
            background: url(../img/papiro.png);
            background-size: contain;
            background-repeat: no-repeat;
            padding: 200px 10px;

            .titulo-jogo {
                p {
                    font-family: $font-Roboto;
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    max-width: 70%;
                }

                .close {
                    background-color: rgb(192, 167, 87);
                    font-family: $font-Roboto, sans-serif;
                    border: none;
                    border-radius: 10px;
                    font-weight: 500;
                    padding: 20px;
                    position: fixed;
                    right: 10%;
                    top: 10%;
                    cursor: pointer;

                    &::after {
                        display: block;
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 28px solid transparent;
                        border-right: 28px solid transparent;
                        border-bottom: 40px solid rgb(192, 167, 87);
                        border-radius: 5px;
                        transform: rotate(90deg);
                        top: 15%;
                        left: 100%;

                        animation: continue 1s ease-in-out infinite;

                        @keyframes continue {
                            0% {
                                left: 100%;
                            }

                            50% {
                                left: 105%;
                            }

                            0% {
                                left: 100%;
                            }
                        }
                    }
                }
            }
        }

        .container-table {
            width: 100%;
            height: 100%;

            .titulo-jogo {
                width: fit-content;
                margin: 40px 0;
                justify-content: flex-start;
                align-items: flex-start;

                h1 {
                    margin-top: 20px;
                }
            }
            .content {
                width: 100%;

                .table {
                    width: 100%;
                    justify-content: space-around;
                    gap: 30px;

                    #game-board {
                        display: grid;
                        grid-template-columns: repeat(10, 73px);
                        grid-template-rows: repeat(6, 73px);
                        border: 1px solid #004d40;
                        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
                        background-color: #032288;

                        border-radius: 20px;
                        overflow: hidden;
                    }

                    .cell {
                        width: 73px;
                        height: 73px;
                        border: 2px dotted rgba(0, 0, 0, 0.1);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        box-sizing: border-box;
                        transition: background-color 0.3s;
                    }

                    .path {
                        background-color: #f8f8ff;
                    }

                    .ship {
                        background-color: #ffcccb;
                    }

                    .treasure {
                        background-color: #90ee90;
                    }
                }

                #controls {
                    display: flex;
                    flex-direction: column;
                    width: 50%;

                    .container-controls {
                        justify-content: space-between;
                        width: 100%;
                        .command {
                            #card-options {
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr 1fr;
                                margin-top: 70px;
                                gap: 10px;

                                .movement-card {
                                    background-color: #ffd700;
                                    z-index: 2;
                                    border: none;
                                    border-radius: 10px;
                                    width: 100px;
                                    aspect-ratio: 5/6;
                                    cursor: pointer;
                                    font-weight: bold;
                                    transition: background-color 0.1s;
                                    position: relative;

                                    &::after {
                                        display: block;
                                        position: absolute;
                                        content: "";
                                        background-color: #ffd700;
                                        width: 30px;
                                        height: 30px;
                                        bottom: 95%;
                                        transform: translateX(-50%);
                                        border-radius: 50%;
                                        z-index: 0;
                                        left: 50%;
                                    }
                                    &::before {
                                        display: block;
                                        position: absolute;
                                        content: "";
                                        background-color: rgb(178, 218, 245);
                                        width: 30px;
                                        height: 30px;
                                        bottom: -10%;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        border-radius: 50%;
                                    }
                                }

                                .movement-card:hover {
                                    background-color: #ffc72c;

                                    &::after {
                                        background-color: #ffc72c;
                                    }
                                }
                            }
                        }

                        #action-buttons {
                            width: 40%;
                            align-self: flex-end;
                            gap: 20px;

                            .run,
                            .stop {
                                width: 100%;
                                gap: 10px;
                            }

                            .stop{
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                            }

                            #run-button {
                                width: 100%;
                                height: 100%;
                                background-color: #008080;
                                color: white;
                                padding: 10px;
                                font-size: 16px;
                                border: none;
                                border-radius: 5px;
                                cursor: pointer;
                                transition: background-color 0.2s;
                            }

                            #run-button:hover {
                                background-color: #006666;
                                
                            }

                            #clear-button,
                            #reset-button {
                                width: 100%;
                                background-color: #e9967a;
                                /* Cor de coral/areia */
                                color: #333;
                                padding: 8px;
                                border: 1px solid #cc705b;
                                border-radius: 5px;
                                cursor: pointer;
                            }

                            #clear-button:hover,
                            #reset-button:hover {
                                background-color: #e08064;
                            }
                        }
                    }

                    .content-sequence {
                        width: 100%;
                        position: relative;

                        #command-sequence {
                            width: 100%;
                            height: 100%;
                            border: 2px solid #a0522d;
                            border-radius: 20px;
                            padding: 0 20px;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            gap: 5px;
                            background-color: #365057;

                            .movement-card {
                                width: 150px;
                                background-color: #ffd700;
                                border: 1px solid #0a0802;
                                z-index: 2;
                                border-radius: 10px;
                                max-height: 100px;
                                aspect-ratio: 5/6;
                                cursor: pointer;
                                font-weight: bold;
                                transition: background-color 0.1s;
                                position: relative;

                                &::before {
                                    display: block;
                                    position: absolute;
                                    content: "";
                                    background-color:blue;
                                    width: 30px;
                                    height: 30px;
                                    bottom: 50%;
                                    left: -18px;
                                    transform: translate(-10%, 50%);
                                    border-radius: 50%;
                                    z-index: 2;
                                }

                                &:first-child::before{
                                    content: none;
                                }
                            }
                        }
                    }
                }

                .mini-game-spot {
                    background-color: #ffdab9;
                    border: 2px solid #a0522d;
                }
            }
        }
    }

    .modal-minigame {
        position: absolute;
        top:  50%;
    }
}
